body {
    font-family: Arial, sans-serif;
}

header h1 {
    text-align: center;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    display: inline-block;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

main {
    width: 80%;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
}