h1{
    background-color: beige;
    color: black;
    padding: 10px;
    text-align: center;
  }
  
  a {
    color: blue;
    padding: 10px;
    text-align: center;
  }
  p {
    padding: 10px;
    text-align: center;
    line-height: 1.6;
    font-family: "Courier New", monospace;
  }